<!DOCTYPE html>
<html>
<head>
<title>On Page Seo</title>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      th, td {
        padding: 20px;
      }
    </style>
</head>
<center><h1>On Page Seo</h1>
<form method="post">
    {% csrf_token %}
  URL :<input type="text" name="name" />
  <button type="submit">Submit</button>
</form></center>
<center>
    
{% if url is not none%}

  {%if list1|length %}
  <br><br><br><br><br><br>
  <table>
    <tr>
        <th>URL </th>
        <th><a href = {{url}}>{{url}}</a></th>
    </tr>
    <tr>
          <th colspan="2"> </th>
    </tr>
    <tr>
        <th colspan="2">Broken Links Are</th>
    </tr>
    {% for i in list1 %}
    <tr>
        <th colspan="2"><a href={{i}}>{{i}}</a></th>
    </tr>
    {% endfor%}
</tr>
    </table>
    {% else%}
    <h1><a href = {{url}}>{{url}}</a></h1>
    <h1>No Broken Link Found</h1>
    {% endif %}
{% else %}
<h1>Enter URL : </h1>
{% endif %}    
</center>
    </html>